MNEMONIC=something fake another fail rose cream guava rich gentle climb timber treacle
WEB3_HTTP_PROVIDER_ADDRESS=http://localhost:7545
ORACLE_ADDRESS=0x78cc8bf77
CONTRACT_ADDRESS=0x7458f34
LD_API_KEY=YOUR_LD_API_KEY
SECRET=secret
ORACLE_ABI=[ { "constant": true, "inputs": [], "name": "getFeatureFlag", "outputs": [ { "name": "", "type": "bool" } ], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": false, "inputs": [ { "name": "_featureFlag", "type": "bool" } ], "name": "setFeatureFlag", "outputs": [], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "inputs": [ { "name": "_apiAddress", "type": "address" }, { "name": "_featureFlag", "type": "bool" } ], "payable": false, "stateMutability": "nonpayable", "type": "constructor" } ]
CONTRACT_ABI=[ { "constant": true, "inputs": [], "name": "getDeadDropData", "outputs": [ { "name": "", "type": "string" } ], "payable": false, "stateMutability": "view", "type": "function" }, { "inputs": [ { "name": "_oracleAddress", "type": "address" }, { "name": "_deadDropData", "type": "string" } ], "payable": false, "stateMutability": "nonpayable", "type": "constructor" } ]
